.excel-container {
  margin-left: 120px;
  padding: 100px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}
label {
  align-self: self-start;
}
.form.excel {
  width: 400px;
  height: max-content;
  padding: 80px 30px;
}
.date {
  font-size: 20px;
  border-radius: 7px;
  padding: 5px;
  margin: 10px 0;
}
@media (max-width: 767px) {
  .excel-container {
    margin-left: 0;
    padding: 0;
  }
  .form.excel {
    width: 80%;
    height: max-content;
    padding: 10px;
    margin-left: 17px;
  }
}
